# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# Except this file !.gitignore
.classpath
.project
.settings
target
.idea
.vscode
.DS_Store
.factorypath
/logs
*.log
*.iml
node_modules
test/derby.log
derby.log
work
test/logs
derby.log
yarn.lock
.flattened-pom.xml
data/log/

*/target/**